@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* Shared Style */
.primery-btn {
  background-color: #006a50;
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.card-title {
  font-family: "Fira Sans", serif;
  font-size: 32px;
  font-weight: bold;
}
.title {
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: bold;
}
.sub-title {
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  font-size: 20px;
  font-weight: bold;
}
.content {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
}

/* Nav style */
header {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 130px;
  height: 100px;
}
.nav-title {
  margin: auto 0;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  font-size: 32px;
  font-weight: bold;
}
.nav-btn {
  height: 52px;
  width: 116px;
  margin: auto 0px;
  border-radius: 8px;
  border: 1px solid #006a50;
  color: #006a50;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 600px;
  transition: 0.3s;
}
.nav-btn:hover {
  background-color: #006a50;
  color: white;
}
/* Banner style */
.banner {
  background-color: #c6e4d6;
  margin: 0 130px;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  border-radius: 24px;
  height: 560px;
}
.banner-content {
  margin: 117px 100px 117px 60px;
}
.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans", serif;
  font-size: 24px;
  font-weight: 500px;
  margin-bottom: 16px;
}
.banner-discriptionn {
  color: rgba(14, 14, 14, 1);
  font-family: "Fira Sans", serif;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-btn {
  margin-top: 17px;
  padding: 17px 34px;
}
.banner-btn:hover {
  background-color: white;
  color: #006a50;
  transition: 0.3s;
}
.banner-img {
  height: 400px;
  width: 474px;
  margin: 80px 60px;
}

/* Pillars section style */
.Pillars {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.Pillars-title {
  padding: 32px 160px;
}
.pillars-card {
  display: flex;
  margin: 0 160px;
  gap: 24px;
  justify-content: space-between;
}
.pillar-card {
  background-color: #ffffff;
  border-radius: 16px;
  height: 244px;
  width: 302px;
}
.pillar-card img {
  padding: 25px;
}
.pillar-title {
  margin: 0 0 12px 24px;
}
.pillars-discription {
  margin: 0 24px 24px;
}
/* vision section style */
.vision {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.vision-title {
  padding: 32px 160px;
}
.vision-description {
  padding: 0 160px 32px;
}
.vision-cards {
  display: flex;
  margin: 0 160px;
  gap: 24px;
  justify-content: space-between;
}
.vision-card {
  height: 250px;
  width: 410.67px;
}
.card-1 {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
  padding: 32px;
}
.card-2 {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 16px;
  padding: 32px;
}
.card-3 {
  background-color: rgba(247, 235, 207, 1);
  border-radius: 16px;
  padding: 32px;
}
.vision-card-title {
  margin: 24px 0 12px;
}
.vision-card-discription {
  margin-bottom: 24px;
}
.vision-card-btn {
  color: #ffffff;
  background-color: #5490f5;
  border: none;
  padding: 11px 22px;
  border-radius: 8px;
  font-family: "Fira Sans", serif;
  font-weight: 500;
}
.vision-card-btn:hover {
  background-color: #ffffff;
  color: #5490f5;
  transition: 0.3s;
  border: 1px solid #5490f5;
}
.vision-card-btn-2 {
  background-color: #09a15c;
}
.vision-card-btn-2:hover {
  background-color: #ffffff;
  color: #09a15c;
  transition: 0.3s;
  border: 1px solid #09a15c;
}
.vision-card-btn-3 {
  background-color: #ffc239;
}
.vision-card-btn-3:hover {
  background-color: #ffffff;
  color: #ffc239;
  transition: 0.3s;
  border: 1px solid #ffc239;
}

/* speech section style */
.speech {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.speech-container {
  padding: 25px 25px 48px;
  background-color: #ffffff;
  margin: 0 160px;
  border-radius: 16px;
}
.speech-container-background {
  background-color: #ffffff;
  border-radius: 16px;
  background-image: url(./images/quote-bg.png);
  background-repeat: no-repeat;
}
.speech-discription {
  padding: 25px 0 12px;
}
.speech-title {
  padding-bottom: 4px;
}
.speaker-discription {
  color: rgba(14, 14, 14, 0.6);
  font-family: "Fira Sans", serif;
}
/* Opinion section style */
.Opinion {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.opinion-title {
  margin: 0 160px;
}
.opinion-container {
  margin: 24px 160px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}
.opinion-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion-table-head {
  width: 100%;
  background-color: rgba(198, 228, 214, 1);
  text-align: left;
}
.opinion-table-head th {
  padding: 24px;
}
.opinion-table-body td {
  padding: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.opinion-selector {
  background-color: rgba(198, 228, 214, 1);
  text-align: center;
  padding: 12.5px;
}
.selector-align {
  text-align: center;
}
.question-descriotion {
  font-family: "Fira Sans", serif;
  font-weight: 500px;
  color: #0e0e0e;
}
/* news section style */
.news {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.news-title {
  margin: 0 160px;
}
.news-description {
  margin: 24px 160px 32px;
}
.news-card {
  margin: 0 160px 24px;
  display: flex;
  background-color: #ffffff;
  padding: 48px;
}
.news-card-description {
  display: flex;
  flex-direction: column;
}
.news-img {
  height: 306px;
  width: 408px;
  border-radius: 24px;
  margin-right: 32px;
}
.media-icon {
  height: 40px;
  width: 134px;
  margin: 12px 0;
}
.news-time p,
.news-description-card {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.news-description-card {
  margin: 20px 48px 40px 0;
}
.news-readmore-btn {
  width: 139px;
  height: 48px;
}
.news-readmore-btn:hover {
  background-color: white;
  color: #006a50;
  transition: 0.3s;
  border: 1px solid #006a50;
}
/* Donate section style */
.donate {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.donate-container {
  margin: 0 160px;
  padding: 0 104.5px;
}
.donate-title {
  text-align: center;
}
.donate-description {
  text-align: center;
  margin: 24px auto 32px;
}
.donate-amount {
  text-align: center;
}
.donate-amount {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
}
.donate-amount-btn {
  border: none;
  border-radius: 16px;
  padding: 40px;
  background-color: rgba(198, 228, 214, 1);
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: bold;
}
.donate-amount-btn:hover {
  background-color: white;
  color: #006a50;
  transition: 0.3s;
}
.donate-amount-input {
  display: block;
  margin: 0 auto;
}
.donate-amount-submit {
  display: block;
  margin: 0 auto;
}
.donate-amount-input {
  padding: 40px 20px;
  background-color: #ffffff;
  width: 100%;
  border: none;
  text-align: center;
  margin-bottom: 32px;
}
.donate-amount-submit {
  padding: 17px 34px;
}
.donate-amount-submit:hover {
  background-color: white;
  color: #006a50;
  transition: 0.3s;
}
/* Subscribe section style */
.Subscribe {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.subscribe-container {
  margin: 0 160px;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 100px;
}
.subscribe-title {
  text-align: center;
}
.subscribe-description {
  margin: 16px 64px 24px;
  text-align: center;
}
.submission-text-input {
  width: 69%;
  height: 56px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 18px 40px;
}
.submission-input-btn {
  background-color: #006a50;
  width: 25%;
  margin: auto -5px;
  border: none;
  height: 90px;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 0 8px 8px 0;
}
.submission-input-btn:hover {
  background-color: white;
  color: #006a50;
  transition: 0.3s;
  border: 2px solid #006a50;
}
.subscribe-submission-description {
  text-align: center;
  margin-top: 24px;
}
/* footer section style */
footer {
  padding: 50px 160px;
}
.footer-title {
  text-align: center;
}
footer hr {
  margin: 32px;
}
footer li {
  list-style: none;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 23px;
}
